.orange-color{
  color:orange;
  font-size: 35px;
}
.div-header{
  width:35%;
  margin:160px 0px 30px 160px;
  padding:10px;
  float:left;
}
img{
  width: 80%;
  
}
.header{
  background-image:url('images/header-bg.png');
  background-size:100%;
  height:740px;
  background-repeat: none;
  color:black;
}
.a-prop{
  background-color: orange;
  color:white;
  text-decoration: none;
  border-radius:20px;
  padding:10px;
}
.biography{
  
  background-image:url('images/biography-bg.png');
  background-size:100%;
  height:660px;
  background-repeat:none;
  color:black;
 
}
.div-bio{
  width:35%;
  margin:160px 100px 30px 0px;
  padding:10px;
  float:right;
}
.img-bio{
  width:80%
}
.experience{
  background-image: url('images/latest-work-bg.png');
  background-size:100%;
  height:720px;
  color:black;
  text-align:center;
}
.workimg{
  width:100%
}
.work{
  width:20%;
  float:left;
  margin:50px 0px 0px 130px;
}
 

.footer{
  background-image: url('images/footer-bg.png');
  height:820px;
  background-size:100%;
  color:black;
  text-align:center;
}
.happyclient{
  width:30%;
}
.mail{
  
background-color:red;
  color:white;
  text-decoration: none;
  border-radius:20px;
  padding:10px;
}
#snoop{
  font-size: 15px;
  color:white;
}
.a-snoop{
  text-decoration:none;
}